<ion-header>
  <ion-toolbar class = "container" >
    <ion-title> 
      PIOLIIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Noticias-->
<ion-content>
  <ion-card *ngFor="let article of articles" (click) = "goToArticle(article)">
    <ion-card-header>
        <ion-card-content>
            <img [src]= "article.urlToImage" style= "height: 100%;">
         </ion-card-content>
      <ion-card-title>{{ article.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        {{ article.description }}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="150px" (ionInfinite) = "loadArticles($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Pioliin">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
