<ion-header>
  <ion-toolbar class="container">
    <ion-title>
      PIOLIIN
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Slider de categorías-->
<ion-content>
  <ion-searchbar animated clearIcon [(ngModel)]="keyWords" (ionChange)="search()"></ion-searchbar>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let cat of categories">
      <ion-card class="slides" (click)="openCategory(cat)">

        <img src="../../assets/images/categories/{{ cat.img }}">

      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-toolbar>

    <ion-title>
      <ion-chip style="text-align: center;margin-top:5px;position: relative" color="tertiary">
        <ion-icon name="albums"></ion-icon>
        <ion-label>{{category}}</ion-label>
      </ion-chip>
    </ion-title>
  </ion-toolbar>


  <!--Noticias-->

  <div *ngIf="gotnews">
    <div *ngIf="searchedNews; else elseblock">
      <ion-card *ngFor="let article of news.articles">
        <ion-card-header  (click)="goToArticle(article)">
          <ion-card-content>
            <div *ngIf="article.urlToImage != null && article.urlToImage != undefined">
              <img [src]="article.urlToImage" style="height: 100%;">
            </div>
            <div *ngIf="article.urlToImage == null">
              <img src="https://i.imgur.com/U4nXWjs.png" style="height: 100%;">
            </div>
          </ion-card-content>
          <ion-card-title>{{ article.title }}</ion-card-title>
          <ion-chip color="dark">
            <ion-icon name="time"></ion-icon>
            <ion-label> {{fecha(article.publishedAt)}}</ion-label>
          </ion-chip>
          <ion-chip color="dark" *ngIf="article.author">
            <ion-icon name="person"></ion-icon>
            <ion-label> {{article.author}}</ion-label>
          </ion-chip>
        </ion-card-header>

        <ion-card-content  (click)="goToArticle(article)">
          {{ article.description }}
        </ion-card-content>
        <ion-grid>
          <ion-chip color="tertiary" (click)="saveNew(this.article)">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>Save Article</ion-label>
          </ion-chip>
        </ion-grid>
      </ion-card>



      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreArticles($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Pioliin">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </div>
  </div>
  <ng-template #elseblock>
    <h1></h1>
  </ng-template>
</ion-content>