<ion-header>
    <ion-toolbar class = "container">
      <ion-title (click)= "ionViewDidLoad(categories[6])"> 
        CATEGORIES
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Slider de categorías-->
  <ion-content>
      <ion-slides [options]="sliderConfig">
        <ion-slide *ngFor="let cat of categories">
          <ion-card class= "slides" (click)= "ionViewDidLoad(cat);" >
          
                <img src= "../../assets/images/categories/{{ cat.img }}">
           
          </ion-card>
        </ion-slide>
      </ion-slides> 
  
  
  <!--Noticias-->
    <ion-card *ngFor="let article of news.articles">
      <ion-card-header>
          <ion-card-content>
              <img [src]= "article.urlToImage" style= "height: 100%;">
           </ion-card-content>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          {{ article.description }}
      </ion-card-content>
    </ion-card>
  </ion-content>
