//Header con título
ion-toolbar.container {
    padding-top: 15px;
    height: 70px;
    text-align: center;
}
ion-slide {
    height: 200px;
}
ion-card.slides {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color: yellow;
    

}
ion-toolbar{

}
ion-card-content {
  height: 100%;
  width: 100%;
}
ion-button{
  }













