<ion-content>
  <form #form="ngForm" (ngSubmit) = "register(form)">
    <ion-grid>
      <ion-row color="" justify-content-center>
        <ion-col align-self-centered size-md="6" size-lg="5" size-xs="12">
          <div tex-center>
            <h3>Create your account!</h3>
          </div>
            <div padding>
              <ion-item>
                <ion-input  name="firstName" type="text" placeholder="Name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input  name="lastName" type="text" placeholder="Last name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="userName" type="text" placeholder="User Name" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input  name="age" type="number" placeholder="How old are you?" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" type="email" placeholder="example@example.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
