<ion-header>
  <ion-toolbar>
    <ion-title>search-bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated clearIcon [(ngModel)]="keyWords"></ion-searchbar>
  <h1>{{keyWords}}</h1>
  <ion-button (click)="search()">BUSCA</ion-button>
  <ion-button (click)="category = 'science'">Science</ion-button>
  <ion-button (click)="category = 'business'">business</ion-button>
  <ion-button (click)="category = 'entertaiment'">entertaiment</ion-button>
  <ion-button (click)="category = 'health'">health</ion-button>
  <ion-button (click)="category = 'sports'">sports</ion-button>


  <h1>CATEGORY: {{category}}</h1>
   <!--Noticias-->
  <div *ngIf="news != null; else elseblock">
    <ion-card *ngFor="let article of news.articles">
      <ion-card-header>
         <ion-card-content>
              <img [src]= "article.urlToImage" style= "height: 100%;">
           </ion-card-content>
        <ion-card-title>{{ article.title }}</ion-card-title>
     </ion-card-header>
  
     <ion-card-content>
         {{ article.description }}
      </ion-card-content>
  </ion-card>
</div>
<ng-template #elseblock><h1>NO SE HA BUSCADO NADA :)</h1></ng-template>
</ion-content>
