<ion-header>
  <ion-toolbar>
    <ion-title (click)="getFavNews()" style="text-align: center">
      @{{user}}'s profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <br><br><br><br><br>
    <img src="../../assets/images/default-images/download.jpg">
    <br><br><br><br><br>
  </div>
  <ion-toolbar>
      <ion-title style="text-align: center">
        FEED
      </ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="start" (click)="loadSettings()">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="news != undefined">
    <ion-card class="light" *ngFor="let article of news.user.favNews; index as i">
        <ion-card-header>
            <ion-card-content>
                <img [src]= "article.urlToImage" style= "height: 100%;">
            </ion-card-content>
          <ion-card-title>{{ article.title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ article.content }}
        </ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-chip color="danger" (click)="deleteArt(i)">
                <ion-icon name="close"></ion-icon>
                <ion-label>Delete Article</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-chip *ngIf="news.user.favNews[i].url != undefined" color="tertiary" (click)="readArt(article)">
                <ion-icon name="bookmark"></ion-icon>
                <ion-label>Read Article</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  </div>
</ion-content>