<ion-header>
  <ion-toolbar>
    <ion-title (click)="getFavNews()" style="text-align: center">
      @{{user}}'s profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <br><br><br><br><br>
    <img src="../../assets/images/default-images/download.jpg">
    <br><br><br><br><br>
  </div>
  <ion-toolbar>
      <ion-title style="text-align: center">
        FEED
      </ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card class="light" *ngFor="let article of news.user[0].favNews">
    <ion-card-content>
      <ion-card-title>
        {{article.title}}
      </ion-card-title>
      {{article.content}}
    </ion-card-content>
  </ion-card>
</ion-content>